<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="parent">
        <div class="form">
            <h1>Register Page!!</h1>
            {% csrf_token %}
            <form action="" method="POST">
                <label for="frame">First Name:</label>
                <input type="text" placeholder="Enter Your First Name" name="fname"><br>

                <label for="frame">Last Name:</label>
                <input type="text" placeholder="Enter Your Last Name" name="sname"><br>
            
                <label for="frame">Username:</label>
                <input type="text" placeholder="Create a user name" name="uname"><br>

                <label for="frame">Email:</label>
                <input type="email" placeholder="Enter Your Email" name="enmail"><br>

                <label for="frame">Password:</label>
                <input type="password" placeholder="Create A Password" name="pass"><br>


                <button type="submit" class="button">Submit</button>
            </form>
        </div>
</div>
</body>
</html>